.selection {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.btnLeft,
.btnRight {
  width: 50%;
  font-size: 20px;
  border: none;
  background: #ff9e48;
  padding: 10px;
  color: #f6f6f6;
  cursor: pointer;
}

.btnLeft:hover {
  background: linear-gradient(90deg, #ff9e48, #133f9e);
}

.btnLeft:disabled {
  background: #133f9e;
  cursor: inherit;
}

.btnRight:hover {
  background: linear-gradient(270deg, #ff9e48, #133f9e);
}

.btnRight:disabled {
  background: #133f9e;
  cursor: inherit;
}

.imgSuccess {
  object-fit: cover;
}

.success-popup {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  font-weight: 600;
  color: #2c2c2c;
  opacity: 0;
  animation: fadeIn 0.4s forwards;
  display: flex;
  flex-direction: column;
}

.success-popup.fade-out {
  animation: fadeOut 0.4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 0px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0px) scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, 0px) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -10px) scale(0.95);
  }
}
