.badge {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #2a364b;
  border-radius: 999px;
  font-size: 12px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #3c6fe1;
  font-size: 35px;
}

.btn:hover {
  color: #ff9e48;
}

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 2%;
  top: 11%;
  padding: 20px;
  background: #f6f6f6;
  border: 1px solid #f4d2c0;
  border-radius: 10px;
}

.connect-btn {
  color: #f6f6f6;
  background: #3c6fe1;
  text-decoration: none;
  border: none;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.connect-btn:hover {
  background: #133f9e;
}

.logout-btn {
  color: #ff9e48;
  background: none;
  text-decoration: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.logout-btn:hover {
  color: #ffb778;
}

.profile-link {
  color: #3c6fe1;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.sell-link {
  color: #f4b400;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.profile-link:hover {
  color: #77a0fa;
}

.sell-link:hover {
  color: #ffd86e;
}
