header {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0% 2%;
  background-color: #fbeedb;
}

.search {
  border: none;
  width: 90%;
  font-size: 20px;
  color: #2c2c2c;
}

.searchContainer {
  background: white;
  width: 30%;
  padding: 5px;
  border-radius: 15px;
  font-size: 20px;
  border: 2px solid #f4d2c0;
}

.search:focus {
  outline: none;
  border: none;
}
