.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #2c2c2c;
  padding-top: 20px;
  font-size: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonne fisse */
  gap: 24px;
  padding-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
