.profilePage {
}

.h2 {
}

.p {
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonne fisse */
  gap: 24px;
  padding-bottom: 100px;
  max-width: 1200px;
  margin-left: 1%;
  margin-right: 1%;
}
